# Ignore folders
bak/
test/
log/
.deps/
netModels/
!pearson/40000/*
# Used by pytest
.cache/
.eggs/
# ignore execs
jetFinder
# Ignore filetypes
*.root
*.jpg
*.jpeg
*.png
*.txt
*.pdf
*.m4
*.log
*.out
*.err
*.o
*.so
*.d
*.json
*.h5
G__*.h
G__*.cxx
*.lo
*_Dict.*
*.dirstamp
*.png
*.bak
*.pyc
*.swp
.DS_Store

# Ignore all files in folder (except for exceptions below)
*/build/*

# Keep this files in the repo
# B
# For build/
!*/build/Makefile.am
!*/build/configure.ac
!*/build/autogen.sh
!*/build/m4/
!*/build/m4/.keepInGit

# Ignore notes files
notes.txt
notes.md
